@page "/addTable"
@using Resturent.Models
@inject TableService objTableService
@inject NavigationManager NavigationManager
<h3>AddUser</h3>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objTable.TableName" Label="Table Name" Variant="Variant.Outlined" Margin="Margin.Dense" class="form-control"></MudTextField>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objTable.TableDesc" T="string" Label="Table Description" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="5" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputPassword4">Is Admin</label>
            <label class="switch">
                <input type="checkbox" @bind="isAdmin">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">Is Active</label>
            <label class="switch">
                <input type="checkbox" @bind="isActive">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">Status</label>
            <label class="switch">
                <input type="checkbox" @bind="status">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateUser" value="save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />

            </div>
        </div>
    </div>
</form>


@code {

    Table objTable = new Table();

    private bool hover = true;
    private DateTime eDate;
    public bool isActive, isAdmin, status;


    protected override void OnInitialized()
    {
        eDate = DateTime.Now;
    }

    void CreateUser()
    {
        objTable.UserId = 0;
        objTable.EDate = eDate;
        objTable.MDate = null;
        objTable.IsActive = isActive ? true : false;
        objTable.IsAdmin = isAdmin ? true : false;
        objTable.Status = status ? true : false;
        objTableService.Create(objTable);
        NavigationManager.NavigateTo("table");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("table");
    }

    //password hide

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
