@page "/editVariation/{CurrentId}"
@using Resturent.Models
@inject VariationService objaVariationService
@inject NavigationManager NavigationManager
<h3>AddUser</h3>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objVariation.VariationName" Label="Variation Name" Variant="Variant.Outlined" Margin="Margin.Dense" class="form-control"></MudTextField>
        </div>
        



    </div>
    <div class="form-row">
        
        <div class="form-group col-md-3">
            <label for="inputPassword4">Is Active</label>
            <label class="switch">
                <input type="checkbox" @bind="objVariation.IsActive">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Status</label>
            <label class="switch">
                <input type="checkbox" @bind="objVariation.Status">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateVariation" value="Update" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />

            </div>
        </div>
    </div>
</form>


@code {
    [Parameter]
    public string CurrentId { get; set; }

    Variation objVariation = new Variation();

    private DateTime mDate;
    protected override void OnInitialized()
    {
        mDate = DateTime.Now;
    }

    protected override async Task OnInitializedAsync()
    {
        objVariation = await Task.Run(() => objaVariationService.GetVariationById(Convert.ToInt32(CurrentId)));
    }

    void UpdateVariation()
    {
        objVariation.MDate = mDate;
        objaVariationService.Update(objVariation);
        NavigationManager.NavigateTo("variation");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("variation");
    }


   
}
